<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Broadtrademining - Isometric Investment Platform</title>
  <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/icofont.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/lightcase.css">
  <link rel="stylesheet" href="/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/css/jquery-ui.min.css">
  <link rel="stylesheet" href="/css/nice-select.css">
  <link rel="stylesheet" href="/css/animate.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/css/responsive.css">
</head>
<body>

  <!-- preloader start -->

  <!-- preloader end -->
  
    <!-- signin-area start -->
   <!-- signin-area start -->
    <div class="modal fade" id="signInModal" tabindex="-1" role="dialog"  aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content bdr-radius">
          <div class="signin-wrapper">
            <div class="signin-wrapper-header text-center">
              <div class="logo"><img src="/images/elements/logo-icon.png" alt="image"></div>
              <h3 class="title">Login</h3>
              <p>Welcome back, please sign in below</p>
            </div>
            <form action="/login" method="post" class="signin-form">
              <div class="form-group">
                <label for="email">Email*</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email" required>
              </div>
              <div class="form-group">
                <label for="password">Password*</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password" required>
              </div>
              <div class="form-group">
                <div class="custom-checkbox">
                  <input type="checkbox" name="id-1" id="id-1" checked>
                  <label for="id-1">Remember Password</label>
                  <span class="checkbox"></span>
                </div>
              </div>
              <button type="submit" class="btn btn-primary btn-hover">Log In</button>
            </form>
            <div class="signin-wrapper-footer">
              <p class="bottom-text">Don’t have an account? <a href="#0" data-toggle="modal" data-target="#signUpModal" data-dismiss="modal" aria-label="Close">Sign Up Now</a></p>
              <div class="divider"><span>or</span></div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- signin-area end -->
    
    <!-- signup-area start -->
    <div class="modal fade" id="signUpModal" tabindex="-1" role="dialog"  aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content bdr-radius">
          <div class="signin-wrapper">
            <div class="signin-wrapper-header text-center">
              <div class="logo"><img src="/images/elements/logo-icon.png" alt="image"></div>
              <h3 class="title">Created Account</h3>
              <p>please fill the form to create account</p>
            </div>
            <form action="/registration" method="post" class="signin-form">
              <div class="form-group">
                <label for="fullname">Fullname*</label>
                <input type="text" class="form-control" name="fullname" id="fullname" placeholder="Enter your Fullname" required>
              </div>
              <div class="form-group">
                <label for="email">Email*</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email" required>
              </div>
              <div class="form-group">
                <label for="password">Password*</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password" required>
              </div>
              <div class="form-group">
                <div class="custom-checkbox">
                  <input type="checkbox" name="id-2" id="id-2" checked>
                  <label for="id-2">I do not want to be kept up to date about relevant investment opportunities, features, and events</label>
                  <span class="checkbox"></span>
                </div>
              </div>
              <button type="submit" value="submit" class="btn btn-primary btn-hover">Sign Up</button>
            </form>
            <div class="signin-wrapper-footer">
              <p class="bottom-text">Already have an account?<a href="#0" data-toggle="modal" data-target="#signInModal" data-dismiss="modal" aria-label="Close">Login</a></p>
              <div class="divider"><span>or</span></div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- signup-area end -->
    <!-- signup-area end -->
  <!--  header-section start  -->
  <header class="header-section transparent--header header--fixed">
    <div class="header-top">
        <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-6 col-md-6">
            <div class="header-top-left d-flex">
                <div class="support-part">
                    <a href="tel:+88016558888454"><i class="fa fa-headphones"></i>Support</a>
                </div>
                <div class="email-part">
                    <a href="/cdn-cgi/l/email-protection#fc95929a93bc9e999493939ad29f9391"><i class="fa fa-envelope"></i><span class="__cf_email__" data-cfemail="c0a9aea6af80a2a5a8afafa6eea3afad">[email&#160;protected]</span></a>
                </div>
            </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="header-top-right d-flex align-items-center justify-content-end">
                    <div class="language-part">
                    <i class="fa fa-globe"></i>
<div class="select d-inline-block w-auto ml-xl-3" id="google_translate_element"></div>
                    </div>
                    <div class="header-cart-count">
                    <a href="/dashboard">
                      <i class="fa fa-tachometer"></i>
                      <span>Dashboard</span>
                    </a>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="container">
        <nav class="navbar navbar-expand-xl">
            <a class="site-logo site-title" href="/"><img src="/images/logo2.png" alt="site-logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="menu-toggle"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav main-menu ml-auto">
                <li class="active menu_has_children"><a href="/">Home</a>
             
                </li>
                <li><a href="/about">about</a></li>
               
                
          
                <li><a href="/contact">contact us</a></li>
            </ul>
              <div class="header-join-part">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#signInModal">join us</button>
              </div>
            </div>
        </nav>
        </div>
    </div><!-- header-bottom end -->
  </header>
  <!--  header-section end  -->

  <!-- inner-page-banner-section start -->
  <section class="inner-page-banner-section gradient-bg">
    <div class="illustration-img"><img src="/images/inner-page-banner-illustrations/blog.png" alt="image-illustration"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="inner-page-content-area">
                    <h2 class="page-title">Blog 02</h2>
                    <nav aria-label="breadcrumb" class="page-header-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item">Blog 02</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
  </section>
  <!-- inner-page-banner-section end -->

  <section class="blog-section pb-120">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="main-area">
            <ul class="nav nav-tabs justify-content-between" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="all-tab" data-toggle="tab" href="#all" role="tab" aria-controls="all" aria-selected="true">all topices</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="research-tab" data-toggle="tab" href="#research" role="tab" aria-controls="research" aria-selected="false">research</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="investors-tab" data-toggle="tab" href="#investors" role="tab" aria-controls="investors" aria-selected="false">investors</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="entrepreneurs-tab" data-toggle="tab" href="#entrepreneurs" role="tab" aria-controls="entrepreneurs" aria-selected="false">entrepreneurs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="Broadtrademining-tab" data-toggle="tab" href="#Broadtrademining" role="tab" aria-controls="Broadtrademining" aria-selected="false">Broadtrademining - news</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="events-tab" data-toggle="tab" href="#events" role="tab" aria-controls="events" aria-selected="false">events</a>
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
                <div class="row mb-none-30">
                  <div class="col-md-12">
                    <div class="blog-item blog-list mb-30">
                      <div class="thumb bg_img" data-background="/images/blog/l1.jpg">
                        <a href="#0" class="post-date">
                          <span class="date">22</span>
                          <span class="month">Mar</span>
                        </a>
                      </div>
                      <div class="content">
                        <div class="post-tags"><a href="#0">research</a></div>
                        <h3 class="post-title"><a href="#0">10 Essential Investor Tips For Successful Investing </a></h3>
                        <ul class="post-meta">
                          <li>
                            <a href="#0" class="post-author">
                              <div class="thumb"><img src="/images/blog/a1.png" alt="image"></div>
                              <span class="name">Alvi Stokes</span>
                            </a>
                          </li>
                          <li>
                            <a href="#0" class="post-view">
                              <i class="fa fa-eye"></i>
                              <span class="amount">1695</span>
                              <span class="text">views</span>
                            </a>
                          </li>
                        </ul>
                        <p>Investing is such a complicated field that there are 
                          literally tens of thousands of books written on the subject. Investing can be quite difficult, depending on the strategy, though it and can also be simple and straight forward if done properly.</p>
                          <a href="#0" class="read-more-btn">read article<i class="fa fa-long-arrow-right"></i></a>
                      </div>
                    </div>
                  </div><!-- blog-item end -->
                  <div class="col-md-12">
                    <div class="blog-item blog-list mb-30">
                      <div class="thumb bg_img" data-background="/images/blog/l2.jpg">
                        <a href="#0" class="post-date">
                          <span class="date">22</span>
                          <span class="month">Mar</span>
                        </a>
                      </div>
                      <div class="content">
                        <div class="post-tags"><a href="#0">research</a></div>
                        <h3 class="post-title"><a href="#0">How to Invest Money and Make
                          It Grow? </a></h3>
                        <ul class="post-meta">
                          <li>
                            <a href="#0" class="post-author">
                              <div class="thumb"><img src="/images/blog/a2.png" alt="image"></div>
                              <span class="name">Alvi Stokes</span>
                            </a>
                          </li>
                          <li>
                            <a href="#0" class="post-view">
                              <i class="fa fa-eye"></i>
                              <span class="amount">1695</span>
                              <span class="text">views</span>
                            </a>
                          </li>
                        </ul>
                        <p>Investing is such a complicated field that there are 
                          literally tens of thousands of books written on the 
                          subject. Investing can be quite difficult, depending on the strategy, though it and can also be simple and straight forward if done properly.</p>
                          <a href="#0" class="read-more-btn">read article<i class="fa fa-long-arrow-right"></i></a>
                      </div>
                    </div>
                  </div><!-- blog-item end -->
                  <div class="col-md-12">
                    <div class="blog-item blog-list mb-30">
                      <div class="thumb bg_img" data-background="/images/blog/l3.jpg">
                        <a href="#0" class="post-date">
                          <span class="date">22</span>
                          <span class="month">Mar</span>
                        </a>
                      </div>
                      <div class="content">
                        <div class="post-tags"><a href="#0">research</a></div>
                        <h3 class="post-title"><a href="#0">Where to Invest Money When the Sky Is Falling</a></h3>
                        <ul class="post-meta">
                          <li>
                            <a href="#0" class="post-author">
                              <div class="thumb"><img src="/images/blog/a3.png" alt="image"></div>
                              <span class="name">Alvi Stokes</span>
                            </a>
                          </li>
                          <li>
                            <a href="#0" class="post-view">
                              <i class="fa fa-eye"></i>
                              <span class="amount">1695</span>
                              <span class="text">views</span>
                            </a>
                          </li>
                        </ul>
                        <p>Investing is such a complicated field that there are 
                          literally tens of thousands of books written on the subject. Investing can be quite difficult, depending on the strategy, though it and can also be simple and straight forward if done properly.</p>
                        <a href="#0" class="read-more-btn">read article<i class="fa fa-long-arrow-right"></i></a>
                      </div>
                    </div>
                  </div><!-- blog-item end -->
                </div>
              </div>
              <div class="tab-pane fade" id="research" role="tabpanel" aria-labelledby="research-tab">
                <div class="row mb-none-30">
                  <div class="col-md-12">
                    <div class="blog-item blog-list mb-30">
                      <div class="thumb bg_img" data-background="/images/blog/l1.jpg">
                        <a href="#0" class="post-date">
                          <span class="date">22</span>
                          <span class="month">Mar</span>
                        </a>
                      </div>
                      <div class="content">
                        <div class="post-tags"><a href="#0">research</a></div>
                        <h3 class="post-title"><a href="#0">10 Essential Investor Tips For Successful Investing </a></h3>
                        <ul class="post-meta">
                          <li>
                            <a href="#0" class="post-author">
                              <div class="thumb"><img src="/images/blog/a1.png" alt="image"></div>
                              <span class="name">Alvi Stokes</span>
                            </a>
                          </li>
                          <li>
                            <a href="#0" class="post-view">
                              <i class="fa fa-eye"></i>
                              <span class="amount">1695</span>
                              <span class="text">views</span>
                            </a>
                          </li>
                        </ul>
                        <p>Investing is such a complicated field that there are 
                          literally tens of thousands of books written on the subject. Investing can be quite difficult, depending on the strategy, though it and can also be simple and straight forward if done properly.</p>
                          <a href="#0" class="read-more-btn">read article<i class="fa fa-long-arrow-right"></i></a>
                      </div>
                    </div>
                  </div><!-- blog-item end -->
                  <div class="col-md-12">
                    <div class="blog-item blog-list mb-30">
                      <div class="thumb bg_img" data-background="/images/blog/l2.jpg">
                        <a href="#0" class="post-date">
                          <span class="date">22</span>
                          <span class="month">Mar</span>
                        </a>
                      </div>
                      <div class="content">
                        <div class="post-tags"><a href="#0">research</a></div>
                        <h3 class="post-title"><a href="#0">How to Invest Money and Make
                          It Grow? </a></h3>
                        <ul class="post-meta">
                          <li>
                            <a href="#0" class="post-author">
                              <div class="thumb"><img src="/images/blog/a2.png" alt="image"></div>
                              <span class="name">Alvi Stokes</span>
                            </a>
                          </li>
                          <li>
                            <a href="#0" class="post-view">
                              <i class="fa fa-eye"></i>
                              <span class="amount">1695</span>
                              <span class="text">views</span>
                            </a>
                          </li>
                        </ul>
                        <p>Investing is such a complicated field that there are 
                          literally tens of thousands of books written on the 
                          subject. Investing can be quite difficult, depending on the strategy, though it and can also be simple and straight forward if done properly.</p>
                          <a href="#0" class="read-more-btn">read article<i class="fa fa-long-arrow-right"></i></a>
                      </div>
                    </div>
                  </div><!-- blog-item end -->
                  <div class="col-md-12">
                    <div class="blog-item blog-list mb-30">
                      <div class="thumb bg_img" data-background="/images/blog/l3.jpg">
                        <a href="#0" class="post-date">
                          <span class="date">22</span>
                          <span class="month">Mar</span>
                        </a>
                      </div>
                      <div class="content">
                        <div class="post-tags"><a href="#0">research</a></div>
                        <h3 class="post-title"><a href="#0">Where to Invest Money When the Sky Is Falling</a></h3>
                        <ul class="post-meta">
                          <li>
                            <a href="#0" class="post-author">
                              <div class="thumb"><img src="/images/blog/a3.png" alt="image"></div>
                              <span class="name">Alvi Stokes</span>
                            </a>
                          </li>
                          <li>
                            <a href="#0" class="post-view">
                              <i class="fa fa-eye"></i>
                              <span class="amount">1695</span>
                              <span class="text">views</span>
                            </a>
                          </li>
                        </ul>
                        <p>Investing is such a complicated field that there are 
                          literally tens of thousands of books written on the subject. Investing can be quite difficult, depending on the strategy, though it and can also be simple and straight forward if done properly.</p>
                        <a href="#0" class="read-more-btn">read article<i class="fa fa-long-arrow-right"></i></a>
                      </div>
                    </div>
                  </div><!-- blog-item end -->
                </div>
              </div>
              <div class="tab-pane fade" id="investors" role="tabpanel" aria-labelledby="investors-tab">
                <div class="row mb-none-30">
                  <div class="col-md-12">
                    <div class="blog-item blog-list mb-30">
                      <div class="thumb bg_img" data-background="/images/blog/l1.jpg">
                        <a href="#0" class="post-date">
                          <span class="date">22</span>
                          <span class="month">Mar</span>
                        </a>
                      </div>
                      <div class="content">
                        <div class="post-tags"><a href="#0">research</a></div>
                        <h3 class="post-title"><a href="#0">10 Essential Investor Tips For Successful Investing </a></h3>
                        <ul class="post-meta">
                          <li>
                            <a href="#0" class="post-author">
                              <div class="thumb"><img src="/images/blog/a1.png" alt="image"></div>
                              <span class="name">Alvi Stokes</span>
                            </a>
                          </li>
                          <li>
                            <a href="#0" class="post-view">
                              <i class="fa fa-eye"></i>
                              <span class="amount">1695</span>
                              <span class="text">views</span>
                            </a>
                          </li>
                        </ul>
                        <p>Investing is such a complicated field that there are 
                          literally tens of thousands of books written on the subject. Investing can be quite difficult, depending on the strategy, though it and can also be simple and straight forward if done properly.</p>
                          <a href="#0" class="read-more-btn">read article<i class="fa fa-long-arrow-right"></i></a>
                      </div>
                    </div>
                  </div><!-- blog-item end -->
                  <div class="col-md-12">
                    <div class="blog-item blog-list mb-30">
                      <div class="thumb bg_img" data-background="/images/blog/l2.jpg">
                        <a href="#0" class="post-date">
                          <span class="date">22</span>
                          <span class="month">Mar</span>
                        </a>
                      </div>
                      <div class="content">
                        <div class="post-tags"><a href="#0">research</a></div>
                        <h3 class="post-title"><a href="#0">How to Invest Money and Make
                          It Grow? </a></h3>
                        <ul class="post-meta">
                          <li>
                            <a href="#0" class="post-author">
                              <div class="thumb"><img src="/images/blog/a2.png" alt="image"></div>
                              <span class="name">Alvi Stokes</span>
                            </a>
                          </li>
                          <li>
                            <a href="#0" class="post-view">
                              <i class="fa fa-eye"></i>
                              <span class="amount">1695</span>
                              <span class="text">views</span>
                            </a>
                          </li>
                        </ul>
                        <p>Investing is such a complicated field that there are 
                          literally tens of thousands of books written on the 
                          subject. Investing can be quite difficult, depending on the strategy, though it and can also be simple and straight forward if done properly.</p>
                          <a href="#0" class="read-more-btn">read article<i class="fa fa-long-arrow-right"></i></a>
                      </div>
                    </div>
                  </div><!-- blog-item end -->
                  <div class="col-md-12">
                    <div class="blog-item blog-list mb-30">
                      <div class="thumb bg_img" data-background="/images/blog/l3.jpg">
                        <a href="#0" class="post-date">
                          <span class="date">22</span>
                          <span class="month">Mar</span>
                        </a>
                      </div>
                      <div class="content">
                        <div class="post-tags"><a href="#0">research</a></div>
                        <h3 class="post-title"><a href="#0">Where to Invest Money When the Sky Is Falling</a></h3>
                        <ul class="post-meta">
                          <li>
                            <a href="#0" class="post-author">
                              <div class="thumb"><img src="/images/blog/a3.png" alt="image"></div>
                              <span class="name">Alvi Stokes</span>
                            </a>
                          </li>
                          <li>
                            <a href="#0" class="post-view">
                              <i class="fa fa-eye"></i>
                              <span class="amount">1695</span>
                              <span class="text">views</span>
                            </a>
                          </li>
                        </ul>
                        <p>Investing is such a complicated field that there are 
                          literally tens of thousands of books written on the subject. Investing can be quite difficult, depending on the strategy, though it and can also be simple and straight forward if done properly.</p>
                        <a href="#0" class="read-more-btn">read article<i class="fa fa-long-arrow-right"></i></a>
                      </div>
                    </div>
                  </div><!-- blog-item end -->
                </div>
              </div>
              <div class="tab-pane fade" id="entrepreneurs" role="tabpanel" aria-labelledby="entrepreneurs-tab">
                <div class="row mb-none-30">
                  <div class="col-md-12">
                    <div class="blog-item blog-list mb-30">
                      <div class="thumb bg_img" data-background="/images/blog/l1.jpg">
                        <a href="#0" class="post-date">
                          <span class="date">22</span>
                          <span class="month">Mar</span>
                        </a>
                      </div>
                      <div class="content">
                        <div class="post-tags"><a href="#0">research</a></div>
                        <h3 class="post-title"><a href="#0">10 Essential Investor Tips For Successful Investing </a></h3>
                        <ul class="post-meta">
                          <li>
                            <a href="#0" class="post-author">
                              <div class="thumb"><img src="/images/blog/a1.png" alt="image"></div>
                              <span class="name">Alvi Stokes</span>
                            </a>
                          </li>
                          <li>
                            <a href="#0" class="post-view">
                              <i class="fa fa-eye"></i>
                              <span class="amount">1695</span>
                              <span class="text">views</span>
                            </a>
                          </li>
                        </ul>
                        <p>Investing is such a complicated field that there are 
                          literally tens of thousands of books written on the subject. Investing can be quite difficult, depending on the strategy, though it and can also be simple and straight forward if done properly.</p>
                          <a href="#0" class="read-more-btn">read article<i class="fa fa-long-arrow-right"></i></a>
                      </div>
                    </div>
                  </div><!-- blog-item end -->
                  <div class="col-md-12">
                    <div class="blog-item blog-list mb-30">
                      <div class="thumb bg_img" data-background="/images/blog/l2.jpg">
                        <a href="#0" class="post-date">
                          <span class="date">22</span>
                          <span class="month">Mar</span>
                        </a>
                      </div>
                      <div class="content">
                        <div class="post-tags"><a href="#0">research</a></div>
                        <h3 class="post-title"><a href="#0">How to Invest Money and Make
                          It Grow? </a></h3>
                        <ul class="post-meta">
                          <li>
                            <a href="#0" class="post-author">
                              <div class="thumb"><img src="/images/blog/a2.png" alt="image"></div>
                              <span class="name">Alvi Stokes</span>
                            </a>
                          </li>
                          <li>
                            <a href="#0" class="post-view">
                              <i class="fa fa-eye"></i>
                              <span class="amount">1695</span>
                              <span class="text">views</span>
                            </a>
                          </li>
                        </ul>
                        <p>Investing is such a complicated field that there are 
                          literally tens of thousands of books written on the 
                          subject. Investing can be quite difficult, depending on the strategy, though it and can also be simple and straight forward if done properly.</p>
                          <a href="#0" class="read-more-btn">read article<i class="fa fa-long-arrow-right"></i></a>
                      </div>
                    </div>
                  </div><!-- blog-item end -->
                  <div class="col-md-12">
                    <div class="blog-item blog-list mb-30">
                      <div class="thumb bg_img" data-background="/images/blog/l3.jpg">
                        <a href="#0" class="post-date">
                          <span class="date">22</span>
                          <span class="month">Mar</span>
                        </a>
                      </div>
                      <div class="content">
                        <div class="post-tags"><a href="#0">research</a></div>
                        <h3 class="post-title"><a href="#0">Where to Invest Money When the Sky Is Falling</a></h3>
                        <ul class="post-meta">
                          <li>
                            <a href="#0" class="post-author">
                              <div class="thumb"><img src="/images/blog/a3.png" alt="image"></div>
                              <span class="name">Alvi Stokes</span>
                            </a>
                          </li>
                          <li>
                            <a href="#0" class="post-view">
                              <i class="fa fa-eye"></i>
                              <span class="amount">1695</span>
                              <span class="text">views</span>
                            </a>
                          </li>
                        </ul>
                        <p>Investing is such a complicated field that there are 
                          literally tens of thousands of books written on the subject. Investing can be quite difficult, depending on the strategy, though it and can also be simple and straight forward if done properly.</p>
                        <a href="#0" class="read-more-btn">read article<i class="fa fa-long-arrow-right"></i></a>
                      </div>
                    </div>
                  </div><!-- blog-item end -->
                </div>
              </div>
              <div class="tab-pane fade" id="Broadtrademining" role="tabpanel" aria-labelledby="Broadtrademining-tab">
                <div class="row mb-none-30">
                  <div class="col-md-12">
                    <div class="blog-item blog-list mb-30">
                      <div class="thumb bg_img" data-background="/images/blog/l1.jpg">
                        <a href="#0" class="post-date">
                          <span class="date">22</span>
                          <span class="month">Mar</span>
                        </a>
                      </div>
                      <div class="content">
                        <div class="post-tags"><a href="#0">research</a></div>
                        <h3 class="post-title"><a href="#0">10 Essential Investor Tips For Successful Investing </a></h3>
                        <ul class="post-meta">
                          <li>
                            <a href="#0" class="post-author">
                              <div class="thumb"><img src="/images/blog/a1.png" alt="image"></div>
                              <span class="name">Alvi Stokes</span>
                            </a>
                          </li>
                          <li>
                            <a href="#0" class="post-view">
                              <i class="fa fa-eye"></i>
                              <span class="amount">1695</span>
                              <span class="text">views</span>
                            </a>
                          </li>
                        </ul>
                        <p>Investing is such a complicated field that there are 
                          literally tens of thousands of books written on the subject. Investing can be quite difficult, depending on the strategy, though it and can also be simple and straight forward if done properly.</p>
                          <a href="#0" class="read-more-btn">read article<i class="fa fa-long-arrow-right"></i></a>
                      </div>
                    </div>
                  </div><!-- blog-item end -->
                  <div class="col-md-12">
                    <div class="blog-item blog-list mb-30">
                      <div class="thumb bg_img" data-background="/images/blog/l2.jpg">
                        <a href="#0" class="post-date">
                          <span class="date">22</span>
                          <span class="month">Mar</span>
                        </a>
                      </div>
                      <div class="content">
                        <div class="post-tags"><a href="#0">research</a></div>
                        <h3 class="post-title"><a href="#0">How to Invest Money and Make
                          It Grow? </a></h3>
                        <ul class="post-meta">
                          <li>
                            <a href="#0" class="post-author">
                              <div class="thumb"><img src="/images/blog/a2.png" alt="image"></div>
                              <span class="name">Alvi Stokes</span>
                            </a>
                          </li>
                          <li>
                            <a href="#0" class="post-view">
                              <i class="fa fa-eye"></i>
                              <span class="amount">1695</span>
                              <span class="text">views</span>
                            </a>
                          </li>
                        </ul>
                        <p>Investing is such a complicated field that there are 
                          literally tens of thousands of books written on the 
                          subject. Investing can be quite difficult, depending on the strategy, though it and can also be simple and straight forward if done properly.</p>
                          <a href="#0" class="read-more-btn">read article<i class="fa fa-long-arrow-right"></i></a>
                      </div>
                    </div>
                  </div><!-- blog-item end -->
                  <div class="col-md-12">
                    <div class="blog-item blog-list mb-30">
                      <div class="thumb bg_img" data-background="/images/blog/l3.jpg">
                        <a href="#0" class="post-date">
                          <span class="date">22</span>
                          <span class="month">Mar</span>
                        </a>
                      </div>
                      <div class="content">
                        <div class="post-tags"><a href="#0">research</a></div>
                        <h3 class="post-title"><a href="#0">Where to Invest Money When the Sky Is Falling</a></h3>
                        <ul class="post-meta">
                          <li>
                            <a href="#0" class="post-author">
                              <div class="thumb"><img src="/images/blog/a3.png" alt="image"></div>
                              <span class="name">Alvi Stokes</span>
                            </a>
                          </li>
                          <li>
                            <a href="#0" class="post-view">
                              <i class="fa fa-eye"></i>
                              <span class="amount">1695</span>
                              <span class="text">views</span>
                            </a>
                          </li>
                        </ul>
                        <p>Investing is such a complicated field that there are 
                          literally tens of thousands of books written on the subject. Investing can be quite difficult, depending on the strategy, though it and can also be simple and straight forward if done properly.</p>
                        <a href="#0" class="read-more-btn">read article<i class="fa fa-long-arrow-right"></i></a>
                      </div>
                    </div>
                  </div><!-- blog-item end -->
                </div>
              </div>
              <div class="tab-pane fade" id="events" role="tabpanel" aria-labelledby="events-tab">
                <div class="row mb-none-30">
                  <div class="col-md-12">
                    <div class="blog-item blog-list mb-30">
                      <div class="thumb bg_img" data-background="/images/blog/l1.jpg">
                        <a href="#0" class="post-date">
                          <span class="date">22</span>
                          <span class="month">Mar</span>
                        </a>
                      </div>
                      <div class="content">
                        <div class="post-tags"><a href="#0">research</a></div>
                        <h3 class="post-title"><a href="#0">10 Essential Investor Tips For Successful Investing </a></h3>
                        <ul class="post-meta">
                          <li>
                            <a href="#0" class="post-author">
                              <div class="thumb"><img src="/images/blog/a1.png" alt="image"></div>
                              <span class="name">Alvi Stokes</span>
                            </a>
                          </li>
                          <li>
                            <a href="#0" class="post-view">
                              <i class="fa fa-eye"></i>
                              <span class="amount">1695</span>
                              <span class="text">views</span>
                            </a>
                          </li>
                        </ul>
                        <p>Investing is such a complicated field that there are 
                          literally tens of thousands of books written on the subject. Investing can be quite difficult, depending on the strategy, though it and can also be simple and straight forward if done properly.</p>
                          <a href="#0" class="read-more-btn">read article<i class="fa fa-long-arrow-right"></i></a>
                      </div>
                    </div>
                  </div><!-- blog-item end -->
                  <div class="col-md-12">
                    <div class="blog-item blog-list mb-30">
                      <div class="thumb bg_img" data-background="/images/blog/l2.jpg">
                        <a href="#0" class="post-date">
                          <span class="date">22</span>
                          <span class="month">Mar</span>
                        </a>
                      </div>
                      <div class="content">
                        <div class="post-tags"><a href="#0">research</a></div>
                        <h3 class="post-title"><a href="#0">How to Invest Money and Make
                          It Grow? </a></h3>
                        <ul class="post-meta">
                          <li>
                            <a href="#0" class="post-author">
                              <div class="thumb"><img src="/images/blog/a2.png" alt="image"></div>
                              <span class="name">Alvi Stokes</span>
                            </a>
                          </li>
                          <li>
                            <a href="#0" class="post-view">
                              <i class="fa fa-eye"></i>
                              <span class="amount">1695</span>
                              <span class="text">views</span>
                            </a>
                          </li>
                        </ul>
                        <p>Investing is such a complicated field that there are 
                          literally tens of thousands of books written on the 
                          subject. Investing can be quite difficult, depending on the strategy, though it and can also be simple and straight forward if done properly.</p>
                          <a href="#0" class="read-more-btn">read article<i class="fa fa-long-arrow-right"></i></a>
                      </div>
                    </div>
                  </div><!-- blog-item end -->
                  <div class="col-md-12">
                    <div class="blog-item blog-list mb-30">
                      <div class="thumb bg_img" data-background="/images/blog/l3.jpg">
                        <a href="#0" class="post-date">
                          <span class="date">22</span>
                          <span class="month">Mar</span>
                        </a>
                      </div>
                      <div class="content">
                        <div class="post-tags"><a href="#0">research</a></div>
                        <h3 class="post-title"><a href="#0">Where to Invest Money When the Sky Is Falling</a></h3>
                        <ul class="post-meta">
                          <li>
                            <a href="#0" class="post-author">
                              <div class="thumb"><img src="/images/blog/a3.png" alt="image"></div>
                              <span class="name">Alvi Stokes</span>
                            </a>
                          </li>
                          <li>
                            <a href="#0" class="post-view">
                              <i class="fa fa-eye"></i>
                              <span class="amount">1695</span>
                              <span class="text">views</span>
                            </a>
                          </li>
                        </ul>
                        <p>Investing is such a complicated field that there are 
                          literally tens of thousands of books written on the subject. Investing can be quite difficult, depending on the strategy, though it and can also be simple and straight forward if done properly.</p>
                        <a href="#0" class="read-more-btn">read article<i class="fa fa-long-arrow-right"></i></a>
                      </div>
                    </div>
                  </div><!-- blog-item end -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center align-items-center">
              <li class="page-item prev">
                <a class="page-link" href="#"><i class="fa fa-angle-double-left"></i></a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item next">
                <a class="page-link" href="#"><i class="fa fa-angle-double-right"></i></a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </section>

  <!-- footer-section start -->
  <footer class="footer-section">
    <div class="footer-top bg_img" data-background="/images/footer-bg-3.png">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-9">
            <div class="section-header text-white text-center">
              <span class="section-subtitle">Subscribe to Broadtrademining</span>
              <h2 class="section-title">To Get Exclusive Benefits</h2>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="subscribe-wrapper style--two">
              <form class="subscribe-form">
                <input type="text" name="subs_name" id="subs_name" placeholder="Your Email Address">
                <button type="submit" class="subs-btn">subscribe</button>
              </form>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="footer-widget">
              <h3 class="widget-title">About Broadtrademining</h3>
              <ul class="footer-menu-list">
                <li><a href="/about">About us</a></li>
                <li><a href="/contact">Contact Us</a></li>
                <li><a href="/dashboard">Manage Your Account</a></li>
              </ul>
            </div>
          </div><!-- footer-widget end -->
        </div>
 
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <p class="copy-right-text">Copyright © 2022.All Rights Reserved By <a href="/">Broadtrademining</a></p>
          </div>
          <div class="col-lg-6">
            <div class="card-list text-right">
              <a href="#0"><img src="/images/icons/card-options/americanexpress.png" alt="image"></a>
              <a href="#0"><img src="/images/icons/card-options/maestro.png" alt="image"></a>
              <a href="#0"><img src="/images/icons/card-options/visa.png" alt="image"></a>
              <a href="#0"><img src="/images/icons/card-options/paypal.png" alt="image"></a>
              <a href="#0"><img src="/images/icons/card-options/mastercard.png" alt="image"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- footer-section end -->

  <!-- scroll-to-top start -->
  <div class="scroll-to-top">
    <span class="scroll-icon">
      <i class="fa fa-rocket"></i>
    </span>
  </div>
  <!-- scroll-to-top end --> 

  <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="/js/jquery-3.3.1.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/jquery.nice-select.js"></script>
  <script src="/js/lightcase.js"></script>
  <script src="/js/owl.carousel.min.js"></script>
  <script src="/js/jquery-ui.min.js"></script>
  <script src="/js/wow.min.js"></script>
  <script src="/js/jquery.waypoints.min.js"></script>
  <script src="/js/jquery.countup.min.js"></script>
  <script src="/js/jquery.paroller.min.js"></script>
  <script src="/js/main.js"></script>
  <script>
    function googleTranslateElementInit() {
        new google.translate.TranslateElement(
            {pageLanguage: 'en'},
            'google_translate_element'
        );
    }
</script>
<script src="http://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</body>
</html>