<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Broadtrademining - Isometric Investment Platform</title>
  <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/icofont.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/lightcase.css">
  <link rel="stylesheet" href="/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/css/jquery-ui.min.css">
  <link rel="stylesheet" href="/css/nice-select.css">
  <link rel="stylesheet" href="/css/animate.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/css/responsive.css">
</head>
<body>

  <!-- preloader start -->

  <!-- preloader end -->

  <!-- error-section start -->
  <div class="error-section">
    <div class="shape-one"><img src="/images/elements/error-bg-shape.png" alt="image"></div>
    <div class="shape-two"><img src="/images/elements/error-bg-shape-2.png" alt="image"></div>
    <div class="star-one"><img src="/images/elements/error-star-one.png" alt="image"></div>
    <div class="star-two"><img src="/images/elements/error-star-two.png" alt="image"></div>
    <div class="star-three"><img src="/images/elements/error-star-three.png" alt="image"></div>
    <div class="error-content-wrapper">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="error-content">
              <img src="/images/elements/404.png" alt="image">
              <span class="error-message">Oops.. looks like you got lost :(</span>
              <a href="/" class="btn btn-primary btn-round btn-hover">go back to home</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- error-section end -->

  <script src="/js/jquery-3.3.1.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/jquery.nice-select.js"></script>
  <script src="/js/lightcase.js"></script>
  <script src="/js/owl.carousel.min.js"></script>
  <script src="/js/jquery-ui.min.js"></script>
  <script src="/js/wow.min.js"></script>
  <script src="/js/jquery.waypoints.min.js"></script>
  <script src="/js/jquery.countup.min.js"></script>
  <script src="/js/jquery.paroller.min.js"></script>
  <script src="/js/main.js"></script>
  <script>
    function googleTranslateElementInit() {
        new google.translate.TranslateElement(
            {pageLanguage: 'en'},
            'google_translate_element'
        );
    }
</script>
<script src="http://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</body>
</html>