<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Broadtrademining - Isometric Investment Platform</title>
  <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/icofont.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/lightcase.css">
  <link rel="stylesheet" href="/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/css/jquery-ui.min.css">
  <link rel="stylesheet" href="/css/nice-select.css">
  <link rel="stylesheet" href="/css/animate.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/css/responsive.css">
</head>
<body>

  <!-- preloader start -->

  <!-- preloader end -->
  
    <!-- signin-area start -->
   <!-- signin-area start -->
    <div class="modal fade" id="signInModal" tabindex="-1" role="dialog"  aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content bdr-radius">
          <div class="signin-wrapper">
            <div class="signin-wrapper-header text-center">
              <div class="logo"><img src="/images/elements/logo-icon.png" alt="image"></div>
              <h3 class="title">Login</h3>
              <p>Welcome back, please sign in below</p>
            </div>
            <form action="/login" method="post" class="signin-form">
              <div class="form-group">
                <label for="email">Email*</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email" required>
              </div>
              <div class="form-group">
                <label for="password">Password*</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password" required>
              </div>
              <div class="form-group">
                <div class="custom-checkbox">
                  <input type="checkbox" name="id-1" id="id-1" checked>
                  <label for="id-1">Remember Password</label>
                  <span class="checkbox"></span>
                </div>
              </div>
              <button type="submit" class="btn btn-primary btn-hover">Log In</button>
            </form>
            <div class="signin-wrapper-footer">
              <p class="bottom-text">Don’t have an account? <a href="#0" data-toggle="modal" data-target="#signUpModal" data-dismiss="modal" aria-label="Close">Sign Up Now</a></p>
              <div class="divider"><span>or</span></div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- signin-area end -->
    
    <!-- signup-area start -->
    <div class="modal fade" id="signUpModal" tabindex="-1" role="dialog"  aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content bdr-radius">
          <div class="signin-wrapper">
            <div class="signin-wrapper-header text-center">
              <div class="logo"><img src="/images/elements/logo-icon.png" alt="image"></div>
              <h3 class="title">Created Account</h3>
              <p>please fill the form to create account</p>
            </div>
            <form action="/registration" method="post" class="signin-form">
              <div class="form-group">
                <label for="fullname">Fullname*</label>
                <input type="text" class="form-control" name="fullname" id="fullname" placeholder="Enter your Fullname" required>
              </div>
              <div class="form-group">
                <label for="email">Email*</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email" required>
              </div>
              <div class="form-group">
                <label for="password">Password*</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password" required>
              </div>
              <div class="form-group">
                <div class="custom-checkbox">
                  <input type="checkbox" name="id-2" id="id-2" checked>
                  <label for="id-2">I do not want to be kept up to date about relevant investment opportunities, features, and events</label>
                  <span class="checkbox"></span>
                </div>
              </div>
              <button type="submit" value="submit" class="btn btn-primary btn-hover">Sign Up</button>
            </form>
            <div class="signin-wrapper-footer">
              <p class="bottom-text">Already have an account?<a href="#0" data-toggle="modal" data-target="#signInModal" data-dismiss="modal" aria-label="Close">Login</a></p>
              <div class="divider"><span>or</span></div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- signup-area end -->
    <!-- signup-area end -->

  <!--  header-section start  -->
  <header class="header-section">
    <div class="header-top">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-lg-6 col-md-6">
            <div class="header-top-left d-flex">
              <div class="support-part">
                  <a href="tel:+88016558888454"><i class="fa fa-headphones"></i>Support</a>
              </div>
              <div class="email-part">
                  <a href="/cdn-cgi/l/email-protection#50393e363f103235383f3f367e333f3d"><i class="fa fa-envelope"></i><span class="__cf_email__" data-cfemail="147d7a727b5476717c7b7b723a777b79">[email&#160;protected]</span></a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4">
              <div class="header-top-right d-flex align-items-center justify-content-end">
                  <div class="language-part">
                    <i class="fa fa-globe"></i>
<div class="select d-inline-block w-auto ml-xl-3" id="google_translate_element"></div>
                  </div>
                  <div class="header-cart-count">
                    <a href="/dashboard">
                      <i class="fa fa-tachometer"></i>
                      <span>Dashboard</span>
                    </a>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header-bottom">
      <div class="container">
        <nav class="navbar navbar-expand-xl">
          <a class="site-logo site-title" href="/"><img src="/images/logo.png" alt="site-logo"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="menu-toggle"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav main-menu ml-auto">
              <li class="active menu_has_children"><a href="/">Home</a>
           
              </li>
              <li><a href="/about">about</a></li>
             
              
        
              <li><a href="/contact">contact us</a></li>
          </ul>
            <div class="header-join-part">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#signInModal">join us</button>
            </div>
          </div>
        </nav>
      </div>
    </div><!-- header-bottom end -->
  </header>
  <!--  header-section end  -->

  <!-- banner-section start -->
  <section class="banner-section banner--five bg_img" data-background="/images/elements/banner-bg-shape.png">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="banner-content-area">
            <div class="banner-content text-center">
              <span class="banner-sub-title">Open the door to new possibilities</span>
              <h2 class="banner-title">INVESTMENTS,YOUR WAY</h2>
              <a href="#0" class="btn btn-success btn-round">Start Invest NOw !</a>
              <div class="banner-thumb anim-bounce"><img src="/images/elements/banner-elements.png" alt="image"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- banner-section end -->
  

  <!-- features-section start -->
  <section class="features-section style--two pt-120">
    <div class="map-ele"><img src="/images/elements/map-ele.png" alt="image"></div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="section-header text-center">
            <span class="section-subtitle">Our Amazing Features</span>
            <h2 class="section-title">Investing For Everyone</h2>
            <p>We are worldwide investment company who are committed to the principle of revenue maximization and reduction of the financial risks at investing.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-2 col-sm-6">
          <div class="feature-item item--style2 text-center">
            <div class="icon">
              <img src="/images/icons/features/1.svg" alt="image">
            </div>
            <div class="content">
              <h3 class="title">Simple</h3>
              <a href="#0" class="read-more-btn">read more<i class="fa fa-long-arrow-right"></i></a>
            </div>
          </div>
        </div><!-- feature-item end -->
        <div class="col-lg-2 col-sm-6">
          <div class="feature-item item--style2 text-center">
            <div class="icon">
              <img src="/images/icons/features/2.svg" alt="image">
            </div>
            <div class="content">
              <h3 class="title">transparent</h3>
              <a href="#0" class="read-more-btn">read more<i class="fa fa-long-arrow-right"></i></a>
            </div>
          </div>
        </div><!-- feature-item end -->
        <div class="col-lg-2 offset-lg-1 col-sm-6">
          <div class="feature-item item--style2 text-center">
            <div class="icon">
              <img src="/images/icons/features/3.svg" alt="image">
            </div>
            <div class="content">
              <h3 class="title">security</h3>
              <a href="#0" class="read-more-btn">read more<i class="fa fa-long-arrow-right"></i></a>
            </div>
          </div>
        </div><!-- feature-item end -->
        <div class="col-lg-2 offset-lg-1 col-sm-6">
          <div class="feature-item item--style2 text-center">
            <div class="icon">
              <img src="/images/icons/features/5.svg" alt="image">
            </div>
            <div class="content">
              <h3 class="title">compliant</h3>
              <a href="#0" class="read-more-btn">read more<i class="fa fa-long-arrow-right"></i></a>
            </div>
          </div>
        </div><!-- feature-item end -->
        <div class="col-lg-2 col-sm-6">
          <div class="feature-item item--style2 text-center">
            <div class="icon">
              <img src="/images/icons/features/4.svg" alt="image">
            </div>
            <div class="content">
              <h3 class="title">efficient</h3>
              <a href="#0" class="read-more-btn">read more<i class="fa fa-long-arrow-right"></i></a>
            </div>
          </div>
        </div><!-- feature-item end -->
      </div>
    </div>
  </section>
  <!-- features-section end -->

  <!-- choose-us-section start -->
  <section class="choose-us-section pt-120 pb-120">
    <div class="round-shape-el"><img src="/images/elements/choose-us-circle-shape.png" alt=""></div>
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-8">
          <div class="section-header text-center">
            <span class="section-subtitle">Boost your Money</span>
            <h2 class="section-title">Why Should Choose Us</h2>
            <p>Our service gives you better result and savings, as per your requirement and you can manage youer investments from anywhere either form home or work place,any time.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-4">
          <div class="choose-us-thumb-two d-xl-block d-none"><img src="/images/elements/choose-us-img2.png" alt="image"></div>
        </div>
        <div class="col-xl-8">
          <div class="choose-us-slider__five owl-carousel">
            <div class="choose-item text-center">
              <div class="choose-thumb">
                <img src="/images/choose-us/1.png" alt="image">
              </div>
              <div class="choose-content">
                <h3 class="title">Fast Profit </h3>
                <p>We're talking about ways you can make money fast.Invest money and get reward, bonus and profit</p>
                <a href="#0" class="read-more-btn">read more<i class="fa fa-long-arrow-right"></i></a>
              </div>
            </div><!-- choose-item end -->
            <div class="choose-item text-center">
              <div class="choose-thumb">
                <img src="/images/choose-us/2.png" alt="image">
              </div>
              <div class="choose-content">
                <h3 class="title">Instant Withdraw</h3>
                <p>We’re extremely excited to launch instant withdrawals.you can deposit and withdraw funds in just a few clicks.</p>
                <a href="#0" class="read-more-btn">read more<i class="fa fa-long-arrow-right"></i></a>
              </div>
            </div><!-- choose-item end -->
            <div class="choose-item text-center">
              <div class="choose-thumb">
                <img src="/images/choose-us/3.png" alt="image">
              </div>
              <div class="choose-content">
                <h3 class="title">Dedicated Server</h3>
                <p>Dedicated server hosting with 100% guaranteed network uptime.There's no sharing of CPU time, RAM or bandwidth</p>
                <a href="#0" class="read-more-btn">read more<i class="fa fa-long-arrow-right"></i></a>
              </div>
            </div><!-- choose-item end -->
            <div class="choose-item text-center">
              <div class="choose-thumb">
                <img src="/images/choose-us/4.png" alt="image">
              </div>
              <div class="choose-content">
                <h3 class="title">DDoS Protection</h3>
                <p>To protect your resources from modern DDoS attacks is through a multi-layer deployment of purpose-built DDoS mitigation </p>
                <a href="#0" class="read-more-btn">read more<i class="fa fa-long-arrow-right"></i></a>
              </div>
            </div><!-- choose-item end -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- choose-us-section end -->

  <!-- invest-section start -->
  <section class="invest-section pt-120 pb-120">
    <div class="circle-shape"><img src="/images/elements/circle-shape.png" alt="image"></div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="section-header text-center">
            <span class="section-subtitle">The smarter way to invest!</span>
            <h2 class="section-title">Start investing! It’s never too late</h2>
            <p>Make sound investment decisions with the help of our research & analytical assets.The minimum  deposit is $5, and maximum is $100,000. We pay 7 days per week.  You may make additional deposits at any time. All our payments are instant payments.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="invest-table-area style--two wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">
            <table>
              <thead>
                <tr>
                  <th>share</th>
                  <th>price</th>
                  <th>growth</th>
                  <th>daily dividend</th>
                  <th>investors</th>
                  <th>time remainig</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <div class="person-details">
                      <div class="thumb"><img src="/images/invest/1.png" alt="image"></div>
                      <div class="content">
                        <span class="name">Forex Stable Income</span>
                      </div>
                    </div>
                  </td>
                  <td>
                    <span class="price">$10.50</span>
                  </td>
                  <td>
                    <span class="growth">122% <i class="fa fa-arrow-up"></i></span>
                  </td>
                  <td>
                    <span class="daily-dividend">$0.9</span>
                  </td>
                  <td>
                    <span class="investors-amount">718</span>
                  </td>
                  <td>
                    <span class="remaining-time">21 DAYS</span>
                    <a href="#0" class="btn btn-primary btn-round pull-right">invest now</a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="person-details">
                      <div class="thumb"><img src="/images/invest/2.png" alt="image"></div>
                      <div class="content">
                        <span class="name">Pavimentadora Real Ltd</span>
                      </div>
                    </div>
                  </td>
                  <td>
                    <span class="price">$10.50</span>
                  </td>
                  <td>
                    <span class="growth">122% <i class="fa fa-arrow-up"></i></span>
                  </td>
                  <td>
                    <span class="daily-dividend">$0.9</span>
                  </td>
                  <td>
                    <span class="investors-amount">718</span>
                  </td>
                  <td>
                    <span class="remaining-time">21 DAYS</span>
                    <a href="#0" class="btn btn-primary btn-round pull-right">invest now</a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="person-details">
                      <div class="thumb"><img src="/images/invest/3.png" alt="image"></div>
                      <div class="content">
                        <span class="name">Ethereum Farm</span>
                      </div>
                    </div>
                  </td>
                  <td>
                    <span class="price">$10.50</span>
                  </td>
                  <td>
                    <span class="growth">122% <i class="fa fa-arrow-up"></i></span>
                  </td>
                  <td>
                    <span class="daily-dividend">$0.9</span>
                  </td>
                  <td>
                    <span class="investors-amount">718</span>
                  </td>
                  <td>
                    <span class="remaining-time">21 DAYS</span>
                    <a href="#0" class="btn btn-primary btn-round pull-right">invest now</a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="person-details">
                      <div class="thumb"><img src="/images/invest/4.png" alt="image"></div>
                      <div class="content">
                        <span class="name">Legacinet Works</span>
                      </div>
                    </div>
                  </td>
                  <td>
                    <span class="price">$10.50</span>
                  </td>
                  <td>
                    <span class="growth">122% <i class="fa fa-arrow-up"></i></span>
                  </td>
                  <td>
                    <span class="daily-dividend">$0.9</span>
                  </td>
                  <td>
                    <span class="investors-amount">718</span>
                  </td>
                  <td>
                    <span class="remaining-time">21 DAYS</span>
                    <a href="#0" class="btn btn-primary btn-round pull-right">invest now</a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="person-details">
                      <div class="thumb"><img src="/images/invest/2.png" alt="image"></div>
                      <div class="content">
                        <span class="name">Healthcare Tech</span>
                      </div>
                    </div>
                  </td>
                  <td>
                    <span class="price">$10.50</span>
                  </td>
                  <td>
                    <span class="growth">122% <i class="fa fa-arrow-up"></i></span>
                  </td>
                  <td>
                    <span class="daily-dividend">$0.9</span>
                  </td>
                  <td>
                    <span class="investors-amount">718</span>
                  </td>
                  <td>
                    <span class="remaining-time">21 DAYS</span>
                    <a href="#0" class="btn btn-primary btn-round pull-right">invest now</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="btn-area mt-50 text-center">
            <a href="#0" class="btn btn-primary btn-hover text-small">browse more</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- invest-section end -->

  <!-- calculate-profit-section start -->
  <section class="calculate-profit-section pt-120 pb-120">
    <div class="bg_img overlay" data-background="/images/invest-plan2.jpeg"></div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="section-header text-center text-white">
            <span class="section-subtitle">Calculate the amazing profits</span>
            <h2 class="section-title">You Can Earn</h2>
            <p>Find out what the returns on your current investments will be valued at, in future. All our issuers have obligation to pay dividends for first year regardless their financial situation that your investments are 100% secured. Calculate your profit from a share using our calculator:</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="calculate-area wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.5s">
            <ul class="nav nav-tabs justify-content-around" id="calculatorTab" role="tablist">
              <li>
                <div class="icon"><img src="/images/icons/invest-calculate/1.svg" alt="icon-image"></div>
                <h5 class="package-name">Basic Plan</h5>
                <span class="percentage">2%</span>
                <a class="active" id="basic-tab" data-toggle="tab" href="#basic" role="tab" aria-controls="basic" aria-selected="true">calculate</a>
              </li>
              <li>
                  <div class="icon"><img src="/images/icons/invest-calculate/2.svg" alt="icon-image"></div>
                  <h5 class="package-name">satandard Plan</h5>
                  <span class="percentage">3%</span>
                <a id="satandard-tab" data-toggle="tab" href="#satandard" role="tab" aria-controls="satandard" aria-selected="false">calculate</a>
              </li>
              <li>
                  <div class="icon"><img src="/images/icons/invest-calculate/3.svg" alt="icon-image"></div>
                  <h5 class="package-name">premium Plan</h5>
                  <span class="percentage">2%</span>
                <a id="premium-tab" data-toggle="tab" href="#premium" role="tab" aria-controls="premium" aria-selected="false">calculate</a>
              </li>
            </ul>

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- calculate-profit-section end -->

  <!-- deposit-withdraw-section start -->
  <section class="deposit-withdraw-section pt-120 pb-120">
    <div class="circle-object"><img src="/images/elements/deposit-circle-shape.png" alt="image"></div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="section-header text-center">
            <span class="section-subtitle">Convenient money</span>
            <h2 class="section-title">Deposit & Withdrawal</h2>
            <p>Depositing or withdrawing money is simple.We support several payment methods, which depend on what country your payment account is located in.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="dep-wth-option-area wow fadeIn" data-wow-duration="0.8s" data-wow-delay="0.5s">
            <span class="circle one"></span>
            <span class="circle two"></span>
            <span class="circle three"></span>
            <span class="circle four"></span>
            <a href="#0" class="card-item">
              <span class="icon"><img src="/images/icons/payment-option/card.svg" alt="image"></span>
              <span class="caption">Credit Card</span>
            </a><!-- card-item end -->
            <a href="#0" class="card-item">
              <span class="icon"><img src="/images/icons/payment-option/paypal.svg" alt="image"></span>
              <span class="caption">Credit Card</span>
            </a><!-- card-item end -->
            <a href="#0" class="card-item">
              <span class="icon"><img src="/images/icons/payment-option/bitcoin.svg" alt="image"></span>
              <span class="caption">Credit Card</span>
            </a><!-- card-item end -->
            <a href="#0" class="card-item">
              <span class="icon"><img src="/images/icons/payment-option/litecoin.svg" alt="image"></span>
              <span class="caption">Credit Card</span>
            </a><!-- card-item end -->
            <a href="#0" class="card-item">
              <span class="icon"><img src="/images/icons/payment-option/ethereum.svg" alt="image"></span>
              <span class="caption">Credit Card</span>
            </a><!-- card-item end -->
            <a href="#0" class="card-item">
              <span class="icon"><img src="/images/icons/payment-option/ripple.svg" alt="image"></span>
              <span class="caption">Credit Card</span>
            </a><!-- card-item end -->
            <a href="#0" class="text-btn">view all option</a>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="feature-item">
            <div class="icon">
              <div class="icon-inner">
                <img src="/images/icons/payment-option/ft1.svg" alt="icon">
              </div>
            </div>
            <div class="content">
              <h3 class="title">No Limits</h3>
              <p>Unlimited maximum withdrawal amount</p>
            </div>
          </div><!-- feature-item end -->
          <div class="feature-item">
            <div class="icon">
              <div class="icon-inner">
                <img src="/images/icons/payment-option/ft2.svg" alt="icon">
              </div>
            </div>
            <div class="content">
              <h3 class="title">Withdrawal in 24 /7</h3>
              <p>Deposit – instantaneous</p>
            </div>
          </div><!-- feature-item end -->
        </div>
      </div>
    </div>
  </section>
  <!-- deposit-withdraw-section end -->

  <!-- community-section start -->
  <section class="community-section pt-120">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-10">
          <div class="section-header text-center">
            <span class="section-subtitle">We support</span>
            <h2 class="section-title">Cryptocurrency Community</h2>
            <p>Access a world of dynamic investment opportunities, buy into businesses you believe in and share in their  success.You may make additional deposits at any time. All our payments are instant payments.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 px-0">
          <div class="community-thumb"><img src="/images/elements/community-img.png" alt="image"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-3 col-sm-6">
          <div class="community-item community-item--style2 mb-30">
            <div class="icon">
              <img src="/images/icons/community/1.svg" alt="image">
            </div>
            <div class="content">
              <h3 class="title">Simplicity</h3>
              <p>We’re eliminating complex user experiences.</p>
              <a href="#0" class="read-more-btn">read more<i class="icofont-long-arrow-right"></i></a>
            </div>
          </div><!-- community-item end -->
        </div>
        <div class="col-xl-3 col-sm-6">
          <div class="community-item community-item--style2 mb-30">
            <div class="icon">
              <img src="/images/icons/community/2.svg" alt="image">
            </div>
            <div class="content">
              <h3 class="title">security</h3>
              <p>Enhanced security features like multi-factor </p>
              <a href="#0" class="read-more-btn">read more<i class="icofont-long-arrow-right"></i></a>
            </div>
          </div><!-- community-item end -->
        </div>
        <div class="col-xl-3 col-sm-6">
          <div class="community-item community-item--style2 mb-30">
            <div class="icon">
              <img src="/images/icons/community/3.svg" alt="image">
            </div>
            <div class="content">
              <h3 class="title">support</h3>
              <p>Get all the support you need for your Investment</p>
              <a href="#0" class="read-more-btn">read more<i class="icofont-long-arrow-right"></i></a>
            </div>
          </div><!-- community-item end -->
        </div>
        <div class="col-xl-3 col-sm-6">
          <div class="community-item community-item--style2 mb-30">
            <div class="icon">
              <img src="/images/icons/community/1.svg" alt="image">
            </div>
            <div class="content">
              <h3 class="title">Simplicity</h3>
              <p>We’re eliminating complex user experiences.</p>
              <a href="#0" class="read-more-btn">read more<i class="icofont-long-arrow-right"></i></a>
            </div>
          </div><!-- community-item end -->
        </div>
      </div>
    </div>
  </section>
  <!-- community-section end -->

  <!-- latest-transaction-section start -->
  <section class="latest-transaction-section pt-120 bg_img" data-background="/images/withdraw-bg.png">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="section-header text-center">
            <span class="section-subtitle">Latest Transaction</span>
            <h2 class="section-title">Withdrawals</h2>
            <p>Our goal is to simplify investing so that anyone can be an investor.Withthis in mind, we  hand-pick the investments we offer on our platform.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <ul class="nav nav-tabs justify-content-center tab-nav" id="transctionTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="daily-tab" data-toggle="tab" href="#daily" role="tab" aria-controls="daily" aria-selected="true">Daily</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="monthly-tab" data-toggle="tab" href="#monthly" role="tab" aria-controls="monthly" aria-selected="false">Monthly</a>
            </li>
          </ul>
          <div class="tab-content" id="transctionTabContent">
            <div class="tab-pane fade show active" id="daily" role="tabpanel" aria-labelledby="daily-tab">
              <div class="withdraw-table-area">
                <table>
                  <thead>
                    <tr>
                      <th>name</th>
                      <th>price</th>
                      <th>Daily Dividend</th>
                      <th>AMOUNTs</th>
                      <th>Deposit by</th>
                      <th>Currency</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td data-head="name">
                        <div class="person-details">
                          <div class="thumb"><img src="/images/withdraw/t-1.png" alt="image"></div>
                          <div class="content">
                            <span class="name">Jim Adams</span>
                          </div>
                        </div>
                      </td>
                      <td data-head="price">
                        <span class="price">$10.50</span>
                      </td>
                      <td data-head="daily dividend">
                        <span class="daily-dividend">$10.50</span>
                      </td>
                      <td data-head="amounts">
                        <span class="amount">$0.9</span>
                      </td>
                      <td data-head="Deposit by">
                        <span class="days">21 days</span>
                      </td>
                      <td data-head="Currency">
                        <img src="/images/icons/withdraw/bitcoin.png" alt="icon">
                      </td>
                    </tr>
                    <tr>
                      <td data-head="name">
                        <div class="person-details">
                          <div class="thumb"><img src="/images/withdraw/t-2.png" alt="image"></div>
                          <div class="content">
                            <span class="name">Willie Barton </span>
                          </div>
                        </div>
                      </td>
                      <td data-head="price">
                        <span class="price">$10.50</span>
                      </td>
                      <td data-head="daily dividend">
                        <span class="daily-dividend">$10.50</span>
                      </td>
                      <td data-head="amounts">
                        <span class="amount">$0.9</span>
                      </td>
                      <td data-head="Deposit by">
                        <span class="days">21 days</span>
                      </td>
                      <td data-head="Currency">
                        <img src="/images/icons/withdraw/fire.png" alt="icon">
                      </td>
                    </tr>
                    <tr>
                      <td data-head="name">
                        <div class="person-details">
                          <div class="thumb"><img src="/images/withdraw/t-3.png" alt="image"></div>
                          <div class="content">
                            <span class="name">Kim Mccoy </span>
                          </div>
                        </div>
                      </td>
                      <td data-head="price">
                        <span class="price">$10.50</span>
                      </td>
                      <td data-head="daily dividend">
                        <span class="daily-dividend">$10.50</span>
                      </td>
                      <td data-head="amounts">
                        <span class="amount">$0.9</span>
                      </td>
                      <td data-head="Deposit by">
                        <span class="days">21 days</span>
                      </td>
                      <td data-head="Currency">
                        <img src="/images/icons/withdraw/bitcoin.png" alt="icon">
                      </td>
                    </tr>
                    <tr>
                      <td data-head="name">
                        <div class="person-details">
                          <div class="thumb"><img src="/images/withdraw/t-4.png" alt="image"></div>
                          <div class="content">
                            <span class="name">Sheryl Tran </span>
                          </div>
                        </div>
                      </td>
                      <td data-head="price">
                        <span class="price">$10.50</span>
                      </td>
                      <td data-head="daily dividend">
                        <span class="daily-dividend">$10.50</span>
                      </td>
                      <td data-head="amounts">
                        <span class="amount">$0.9</span>
                      </td>
                      <td data-head="Deposit by">
                        <span class="days">21 days</span>
                      </td>
                      <td data-head="Currency">
                        <img src="/images/icons/withdraw/fan.png" alt="icon">
                      </td>
                    </tr>
                    <tr>
                      <td data-head="name">
                        <div class="person-details">
                          <div class="thumb"><img src="/images/withdraw/t-5.png" alt="image"></div>
                          <div class="content">
                            <span class="name">Jim Adams</span>
                          </div>
                        </div>
                      </td>
                      <td data-head="price">
                        <span class="price">$10.50</span>
                      </td>
                      <td data-head="daily dividend">
                        <span class="daily-dividend">$10.50</span>
                      </td>
                      <td data-head="amounts">
                        <span class="amount">$0.9</span>
                      </td>
                      <td data-head="Deposit by">
                        <span class="days">21 days</span>
                      </td>
                      <td data-head="Currency">
                        <img src="/images/icons/withdraw/dollar.png" alt="icon">
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            
            <div class="tab-pane fade" id="monthly" role="tabpanel" aria-labelledby="monthly-tab">
              <div class="withdraw-table-area">
                <table>
                  <thead>
                    <tr>
                      <th>name</th>
                      <th>price</th>
                      <th>Daily Dividend</th>
                      <th>AMOUNTs</th>
                      <th>Deposit by</th>
                      <th>Currency</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td data-head="name">
                        <div class="person-details">
                          <div class="thumb"><img src="/images/withdraw/t-1.png" alt="image"></div>
                          <div class="content">
                            <span class="name">Jim Adams</span>
                          </div>
                        </div>
                      </td>
                      <td data-head="price">
                        <span class="price">$10.50</span>
                      </td>
                      <td data-head="daily dividend">
                        <span class="daily-dividend">$10.50</span>
                      </td>
                      <td data-head="amounts">
                        <span class="amount">$0.9</span>
                      </td>
                      <td data-head="Deposit by">
                        <span class="days">21 days</span>
                      </td>
                      <td data-head="Currency">
                        <img src="/images/icons/withdraw/bitcoin.png" alt="icon">
                      </td>
                    </tr>
                    <tr>
                      <td data-head="name">
                        <div class="person-details">
                          <div class="thumb"><img src="/images/withdraw/t-2.png" alt="image"></div>
                          <div class="content">
                            <span class="name">Willie Barton </span>
                          </div>
                        </div>
                      </td>
                      <td data-head="price">
                        <span class="price">$10.50</span>
                      </td>
                      <td data-head="daily dividend">
                        <span class="daily-dividend">$10.50</span>
                      </td>
                      <td data-head="amounts">
                        <span class="amount">$0.9</span>
                      </td>
                      <td data-head="Deposit by">
                        <span class="days">21 days</span>
                      </td>
                      <td data-head="Currency">
                        <img src="/images/icons/withdraw/fire.png" alt="icon">
                      </td>
                    </tr>
                    <tr>
                      <td data-head="name">
                        <div class="person-details">
                          <div class="thumb"><img src="/images/withdraw/t-3.png" alt="image"></div>
                          <div class="content">
                            <span class="name">Kim Mccoy </span>
                          </div>
                        </div>
                      </td>
                      <td data-head="price">
                        <span class="price">$10.50</span>
                      </td>
                      <td data-head="daily dividend">
                        <span class="daily-dividend">$10.50</span>
                      </td>
                      <td data-head="amounts">
                        <span class="amount">$0.9</span>
                      </td>
                      <td data-head="Deposit by">
                        <span class="days">21 days</span>
                      </td>
                      <td data-head="Currency">
                        <img src="/images/icons/withdraw/bitcoin.png" alt="icon">
                      </td>
                    </tr>
                    <tr>
                      <td data-head="name">
                        <div class="person-details">
                          <div class="thumb"><img src="/images/withdraw/t-4.png" alt="image"></div>
                          <div class="content">
                            <span class="name">Sheryl Tran </span>
                          </div>
                        </div>
                      </td>
                      <td data-head="price">
                        <span class="price">$10.50</span>
                      </td>
                      <td data-head="daily dividend">
                        <span class="daily-dividend">$10.50</span>
                      </td>
                      <td data-head="amounts">
                        <span class="amount">$0.9</span>
                      </td>
                      <td data-head="Deposit by">
                        <span class="days">21 days</span>
                      </td>
                      <td data-head="Currency">
                        <img src="/images/icons/withdraw/fan.png" alt="icon">
                      </td>
                    </tr>
                    <tr>
                      <td data-head="name">
                        <div class="person-details">
                          <div class="thumb"><img src="/images/withdraw/t-5.png" alt="image"></div>
                          <div class="content">
                            <span class="name">Jim Adams</span>
                          </div>
                        </div>
                      </td>
                      <td data-head="price">
                        <span class="price">$10.50</span>
                      </td>
                      <td data-head="daily dividend">
                        <span class="daily-dividend">$10.50</span>
                      </td>
                      <td data-head="amounts">
                        <span class="amount">$0.9</span>
                      </td>
                      <td data-head="Deposit by">
                        <span class="days">21 days</span>
                      </td>
                      <td data-head="Currency">
                        <img src="/images/icons/withdraw/dollar.png" alt="icon">
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          
          <div class="btn-area text-center">
            <a href="#0" class="btn btn-primary btn-hover text-small">browse more</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- latest-transaction-section end -->

  <!-- affiliate-section start -->
  <section class="affiliate-section pt-120 pb-120">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <div class="section-header text-center">
            <span class="section-subtitle">Earn The Big Money</span>
            <h2 class="section-title">Affiliate Program</h2>
            <p>Our affiliate program can increase your income by receiving percentage 
              from the purchases made by your referrals into.</p>
          </div>
        </div>
      </div>
      <div class="row px-sm-100 mb-none-30">
        <div class="col-lg-4 col-md-6 mb-30">
          <div class="affiliate-item--two">
            <div class="icon"><img src="/images/icons/affiliate-features/1.png" alt="image"></div>
            <div class="content">
              <span class="sub-title">Enjoy unlimited</span>
              <h3 class="title">Commissions</h3>
              <p>The more User you refer, the more commissions we’ll pay you. Plain and simple.</p>
              <a href="#0" class="read-more-btn">read more<i class="fa fa-long-arrow-right"></i></a>
            </div>
          </div><!-- affiliate-item-two end -->
        </div>
        <div class="col-lg-4 col-md-6 mb-30">
          <div class="affiliate-item--two">
            <div class="icon"><img src="/images/icons/affiliate-features/2.png" alt="image"></div>
            <div class="content">
              <span class="sub-title">Extra Bonus and</span>
              <h3 class="title">Promotions</h3>
              <p>Boost your monthly earnings with additional promotional opportunities.</p>
              <a href="#0" class="read-more-btn">read more<i class="fa fa-long-arrow-right"></i></a>
            </div>
          </div><!-- affiliate-item-two end -->
        </div>
        <div class="col-lg-4 col-md-6 mb-30">
          <div class="affiliate-item--two">
            <div class="icon"><img src="/images/icons/affiliate-features/3.png" alt="image"></div>
            <div class="content">
              <span class="sub-title">Get top notch</span>
              <h3 class="title">Affiliate Support</h3>
              <p>Maximize your earning potential with our amazing  support.</p>
              <a href="#0" class="read-more-btn">read more<i class="fa fa-long-arrow-right"></i></a>
            </div>
          </div><!-- affiliate-item-two end -->
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 text-center mt-50">
          <a href="#0" class="btn btn-primary btn-hover text-small">join us</a>
        </div>
      </div>
    </div>
  </section>
  <!-- affiliate-section end -->

  <!-- testimonial-section start -->
  <section class="testimonial-section pt-120 pb-120 bg_img" data-background="/images/testimonial-bg.jpg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10">
          <div class="section-header text-center">
            <span class="section-subtitle">Testimonials</span>
            <h2 class="section-title">Over 7,000 Happy Customers</h2>
            <p>We have many happy investors invest with us .Some impresions from our Customers!  PLease read some of the lovely things our Customers say about us.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="testimonial-area">
            <div class="testimonial-single-badge">
              <div class="thumb"><img src="/images/testimonial/s1.png" alt="image"></div>
              <span class="name">Great returns</span>
            </div><!-- testimonial-single-badge end -->
            <div class="testimonial-single-badge">
              <div class="thumb"><img src="/images/testimonial/s2.png" alt="image"></div>
              <span class="name">Fantastic company</span>
            </div><!-- testimonial-single-badge end -->
            <div class="testimonial-single-badge">
              <div class="thumb"><img src="/images/testimonial/s3.png" alt="image"></div>
              <span class="name">Works great!</span>
            </div><!-- testimonial-single-badge end -->
            <div class="testimonial-single-badge">
              <div class="thumb"><img src="/images/testimonial/s4.png" alt="image"></div>
              <span class="name">High Rate Solution for money</span>
            </div><!-- testimonial-single-badge end -->
            <div class="testimonial-single-badge">
              <div class="thumb"><img src="/images/testimonial/s5.png" alt="image"></div>
              <span class="name">Wellorganized and transparent</span>
            </div><!-- testimonial-single-badge end -->
            <div class="testimonial-single-badge">
              <div class="thumb"><img src="/images/testimonial/s6.png" alt="image"></div>
              <span class="name">Broadtrademining is really intuitive</span>
            </div><!-- testimonial-single-badge end -->
            <div class="testimonial-single-badge">
              <div class="thumb"><img src="/images/testimonial/s7.png" alt="image"></div>
              <span class="name">Good rates and fast assistance</span>
            </div><!-- testimonial-single-badge end -->
            <div class="testimonial-single-badge">
              <div class="thumb"><img src="/images/testimonial/s8.png" alt="image"></div>
              <span class="name">Everything works good so far</span>
            </div><!-- testimonial-single-badge end -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- testimonial-section end -->

  <!-- investors-section start -->
  <section class="investors-section bg_img pt-120 pb-120" data-background="/images/investor-bg2.png">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="section-header text-center">
            <span class="section-subtitle">Take a look at our</span>
            <h2 class="section-title">Top 10 Investors</h2>
            <p>A look at the top ten investors of all time and the strategies they used to make their money.</p>
          </div>
        </div>
      </div>
      <div class="investor-slider owl-carousel">
        <div class="investor-item text-center">
          <div class="thumb">
            <img src="/images/investors/1.png" alt="image">
            <a href="#0" class="icon"><i class="fa fa-linkedin"></i></a>
          </div>
          <div class="content">
            <h4 class="name"><a href="#0">Sean Obrien</a></h4>
            <span class="amount">$50,000.00</span>
            <p>Paid by <img src="/images/icons/withdraw/bitcoin.png" alt="icon"></p>
          </div>
        </div><!-- investor-item end -->
        <div class="investor-item text-center">
          <div class="thumb">
            <img src="/images/investors/2.png" alt="image">
            <a href="#0" class="icon"><i class="fa fa-linkedin"></i></a>
          </div>
          <div class="content">
            <h4 class="name"><a href="#0">Naomi White</a></h4>
            <span class="amount">$43,500.00</span>
            <p>Paid by <img src="/images/icons/withdraw/bitcoin.png" alt="icon"></p>
          </div>
        </div><!-- investor-item end -->
        <div class="investor-item text-center">
          <div class="thumb">
            <img src="/images/investors/3.png" alt="image">
            <a href="#0" class="icon"><i class="fa fa-linkedin"></i></a>
          </div>
          <div class="content">
            <h4 class="name"><a href="#0">Tom Barker</a></h4>
            <span class="amount">$42,000.00</span>
            <p>Paid by <img src="/images/icons/withdraw/bitcoin.png" alt="icon"></p>
          </div>
        </div><!-- investor-item end -->
        <div class="investor-item text-center">
          <div class="thumb">
            <img src="/images/investors/1.png" alt="image">
            <a href="#0" class="icon"><i class="fa fa-linkedin"></i></a>
          </div>
          <div class="content">
            <h4 class="name"><a href="#0">Sean Obrien</a></h4>
            <span class="amount">$50,000.00</span>
            <p>Paid by <img src="/images/icons/withdraw/bitcoin.png" alt="icon"></p>
          </div>
        </div><!-- investor-item end -->
      </div>
    </div>
  </section>
  <!-- investors-section end -->

  <!-- contest-winner-section start  -->

  <!-- contest-winner-section end  -->

  <!-- partner-section start -->
  <section class="partner-section pt-120 pb-120">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-5">
          <div class="partner-wrapper">
            <div class="partner-single wow zoomIn" data-wow-duration="0.3s" data-wow-delay="0.5s">
              <div class="partner-single-inner">
                <img src="/images/partners/1.png" alt="image">
              </div>
            </div><!-- partner-single end -->
            <div class="partner-single wow zoomIn" data-wow-duration="0.5s" data-wow-delay="0.5s">
              <div class="partner-single-inner">
                <img src="/images/partners/2.png" alt="image">
              </div>
            </div><!-- partner-single end -->
            <div class="partner-single wow zoomIn" data-wow-duration="0.7s" data-wow-delay="0.5s">
              <div class="partner-single-inner">
                <img src="/images/partners/3.png" alt="image">
              </div>
            </div><!-- partner-single end -->
            <div class="partner-single wow zoomIn" data-wow-duration="0.9s" data-wow-delay="0.5s">
              <div class="partner-single-inner">
                <img src="/images/partners/4.png" alt="image">
              </div>
            </div><!-- partner-single end -->
            <div class="partner-single wow zoomIn" data-wow-duration="1.2s" data-wow-delay="0.5s">
              <div class="partner-single-inner">
                <img src="/images/partners/5.png" alt="image">
              </div>
            </div><!-- partner-single end -->
          </div>
        </div>
        <div class="col-lg-6">
          <div class="section-header text-lg-left text-center">
            <span class="section-subtitle">Let’s see our</span>
            <h2 class="section-title">Trusted Partners</h2>
            <p>We’re committed to making our clients successful by becoming their partners and trusted advisors .Broadtrademining believes in being your trusted partner and earning that trust through confidence and performance in service and support.</p>
            <a href="#0" class="btn btn-primary">join with us</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- partner-section end -->

  <!-- subscribe-section start -->
  <section class="subscribe-section pb-120">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="subscribe-area text-center">
            <span class="subtitle">Subscribe to Broadtrademining</span>
            <h2 class="title">To Get Exclusive Benefits</h2>
            <form class="subscribe-form-two">
              <input type="email" name="subscribe_email" id="subscribe_email" placeholder="Your Email Address">
              <button type="submit">subscribe</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- subscribe-section end -->

  <!-- footer-section start -->
  <footer class="footer-section">
    <div class="footer-top bg_img" data-background="/images/footer-bg-4.png">
      <div class="container">
        <div class="row mb-none-30">
          <div class="col-md-3 col-sm-6 mb-30">
            <div class="footer-widget">
              <h3 class="widget-title">About Broadtrademining</h3>
              <ul class="footer-menu-list">
                <li><a href="#0">About us</a></li>
                <li><a href="#0">Contact Us</a></li>
                <li><a href="#0">Latest Blog</a></li>
                <li><a href="#0">Authenticity Guarantee</a></li>
                <li><a href="#0">Customer Reviews</a></li>
                <li><a href="#0">Privacy Policy</a></li>
                <li><a href="#0">Business License</a></li>
              </ul>
            </div>
          </div><!-- footer-widget end -->
          <div class="col-md-3 col-sm-6 mb-30">
            <div class="footer-widget">
              <h3 class="widget-title">My Account</h3>
              <ul class="footer-menu-list">
                <li><a href="#0">Manage Your Account</a></li>
                <li><a href="#0">How to Deposit</a></li>
                <li><a href="#0">How to Withdraw</a></li>
                <li><a href="#0">Account Varification</a></li>
                <li><a href="#0">Safety & Security</a></li>
                <li><a href="#0">Investments</a></li>
                <li><a href="#0">Membership Level</a></li>
              </ul>
            </div>
          </div><!-- footer-widget end -->
          <div class="col-md-3 col-sm-6 mb-30">
            <div class="footer-widget">
              <h3 class="widget-title">help center</h3>
              <ul class="footer-menu-list">
                <li><a href="#0">Investor help centre</a></li>
                <li><a href="#0">Entrepreneur help centre</a></li>
                <li><a href="#0">FAQ</a></li>
                <li><a href="#0">Quick Start Guide</a></li>
                <li><a href="#0">Associate Blog</a></li>
                <li><a href="#0">Tutorials</a></li>
                <li><a href="#0">Returns & Claims</a></li>
              </ul>
            </div>
          </div><!-- footer-widget end -->
          <div class="col-md-3 col-sm-6 mb-30">
            <div class="footer-widget">
              <h3 class="widget-title">legal info</h3>
              <ul class="footer-menu-list">
                <li><a href="#0">Risk Warnings</a></li>
                <li><a href="#0">Privacy Notice</a></li>
                <li><a href="#0">Security</a></li>
                <li><a href="#0">Terms of Service</a></li>
                <li><a href="#0">Become Affiliate</a></li>
                <li><a href="#0">Complaints Policy</a></li>
              </ul>
            </div>
          </div><!-- footer-widget end -->
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="btn-area text-center">
              <a href="#0" class="wow zoomIn" data-wow-duration="0.3s" data-wow-delay="0.5s"><img src="/images/buttons/google.png" alt="button"></a>
              <a href="#0" class="wow zoomIn" data-wow-duration="0.7s" data-wow-delay="0.5s"><img src="/images/buttons/apple.png" alt="button"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6">
            <p class="copy-right-text text-md-left text-center mb-md-0 mb-3">Copyright © 2022.All Rights Reserved By <a href="/">Broadtrademining</a></p>
          </div>
          <div class="col-md-6">
            <div class="card-list text-md-right text-center">
              <a href="#0"><img src="/images/icons/card-options/americanexpress.png" alt="image"></a>
              <a href="#0"><img src="/images/icons/card-options/maestro.png" alt="image"></a>
              <a href="#0"><img src="/images/icons/card-options/visa.png" alt="image"></a>
              <a href="#0"><img src="/images/icons/card-options/paypal.png" alt="image"></a>
              <a href="#0"><img src="/images/icons/card-options/mastercard.png" alt="image"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- footer-section end -->

  <!-- scroll-to-top start -->
  <div class="scroll-to-top">
    <span class="scroll-icon">
      <i class="fa fa-rocket"></i>
    </span>
  </div>
  <!-- scroll-to-top end --> 

  <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="/js/jquery-3.3.1.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/jquery.nice-select.js"></script>
  <script src="/js/lightcase.js"></script>
  <script src="/js/owl.carousel.min.js"></script>
  <script src="/js/jquery-ui.min.js"></script>
  <script src="/js/wow.min.js"></script>
  <script src="/js/jquery.waypoints.min.js"></script>
  <script src="/js/jquery.countup.min.js"></script>
  <script src="/js/jquery.paroller.min.js"></script>
  <script src="/js/main.js"></script>
  <script>
    function googleTranslateElementInit() {
        new google.translate.TranslateElement(
            {pageLanguage: 'en'},
            'google_translate_element'
        );
    }
</script>
<script src="http://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</body>
</html>